.user-icon {
  &.--default {
    width: 1.5rem;
    .user-icon__default {
      object-fit: cover;
    }
    .user-icon__plus {
      width: 1rem;
    }
    .user-icon__add {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      .user-icon__default {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        z-index: 1;
        &.--inactive {
          width: 1.8rem;
          border: solid 1px red;
        }
      }
      .user-icon__plus {
        position: absolute;
        bottom: -0.2rem;
        right: -0.2rem;
        z-index: 2;
      }
    }
  }
}
