.main {
  display: flex;
  flex-direction: column;
  &__frame {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: solid 0.5rem $frame-color;
    overflow: auto;

    .main__content {
      max-height: 94.3vh;
      display: flex;
      flex-direction: column;
      .main__head {
        border: solid 2px $gray-color;
        border-radius: 0.25rem;
        margin: 0.5rem;
        .main__head-top {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.1rem 0.2rem;
          .main__head-toggle {
            width: 2rem;
            height: 2rem;
            padding: 0.4rem;
            margin-right: 0.5rem;
            border-radius: 50%;
            border: solid 1px black;
            cursor: pointer;
            .max-min {
              object-fit: cover;
            }
          }
          .dove {
            width: 1rem;
          }
        }
        .main__head-body {
          width: 100%;
          display: flex;
          flex-direction: row;
          padding: 0.5rem 0.5rem;
          .prof-img {
            width: 5rem;
            height: 5rem;
            display: flex;
            margin-right: 1rem;
            overflow: hidden;
            border-radius: 0.5rem;
            img {
              border-radius: 0.5rem;
              object-fit: cover;
            }
          }
          .main__head-info {
            display: flex;
            flex-direction: column;
          }
          .main__head-name,
          .main__head-msg {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1rem;
            line-height: 1.1rem;
            font-weight: bold;
            .main__head-status {
              display: flex;
              flex-direction: row;
              align-items: center;
              word-break: keep-all;
              cursor: pointer;
              .main__arrow {
                width: 0.6rem;
              }
            }

            .main__head-stats {
              position: absolute;
              top: 0;
              right: 0rem;
              display: flex;
              flex-direction: column;
              background-color: white;
              border: solid 2px $gray-color;
              border-radius: 0.25rem;
              span {
                padding: 0.1rem 0.5rem;
                cursor: pointer;
                &:active {
                  opacity: 0.7;
                }
              }
            }
            .main__edit {
              width: 0.8rem;
              margin-left: 0.2rem;
              cursor: pointer;
              &:active {
                opacity: 0.7;
              }
            }
          }
          .main__head-msg {
            .main__input {
              min-width: 15rem;
              max-width: 30rem;
            }
          }
          .main__head-msg {
            margin-top: 1rem;
            cursor: pointer;
            .main__msg {
              font-size: 0.9rem;
              font-weight: 100;
            }
          }
        }
      }
      .main__add {
        display: flex;
        flex-direction: row;
        align-items: end;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        .main__add-msg {
          margin-left: 0.5rem;
          font-size: 0.9rem;
          font-weight: 600;
        }
      }
      .main__contacts {
        position: relative;
        height: 60vh;
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0.5rem;
        margin: 0.5rem;
        overflow: auto;
        box-shadow: 0 0 2px 0 $gray-light-color;
        border: solid 2px $gray-color;
        border-radius: 0.25rem;
      }
      .main__scroll {
        position: relative;
        .btn {
          position: absolute;
          top: -5rem;
          right: 3rem;
          width: 4rem;
          height: 4rem;
          img {
            width: 2.5rem;
          }
        }
      }
      .main__ads {
        position: relative;
        height: 20vh;
        display: flex;
        //flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem 0.5rem 0.5rem;
        border: solid 2px $gray-color;
        border-radius: 0.25rem;
        .main__ad-text {
          width: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.1rem 0.2rem;
          font-size: 0.6rem;
          line-height: 0.7rem;
          text-align: center;
          background-color: black;
          color: $white-color;
          border-radius: 0.25rem 0 0 0;
        }
      }
    }
  }

  .main__overlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__overlay-title {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
    .input {
      width: 80%;
    }
  }
}

@media (max-width: 641px) {
  .main {
    .main__content {
      .main__contacts {
        .main__contact {
          .main__contact-info {
            margin-left: 0.1rem;
          }

          .main__contact-info {
            flex-direction: column;
          }

          .main__contact-msg span {
            display: none;
          }
        }
      }
    }
  }
}
